# Define the path to the database to be written to (birds.db and ebirds.db)

In [5]:
import sqlite3
import pandas as pd

# Configure the following variables to your location.
your_latitude = 12.345              # Enter your latitude here
your_longitude = 67.890             # Enter your longitude here
your_state = "DC"                   # Enter your 2 letter state code here (you must live in the US for this application to use the eBird features. I welcome help adding other countries!)
your_subregion_code = "US-DC-00"    # Enter your subregion code here. If you do not know your subregion code, fill it out as "US-DC-00" but replace DC with your state code and leave the 00 as is.

# input your username if on a windows machine. Otherwise, adjust the absolute path to the databases on the 2 lines below.
pc_username = "<user>"
database_path_birds = f"C:/Users/{pc_username}/source/repos/BirdNET/birdnet/BirdNET_UI/birds.db"
database_path_ebirds = f"C:/Users/{pc_username}/source/repos/BirdNET/birdnet/BirdNET_UI/ebirds.db"

# Create the databases

In [6]:
db_birds = sqlite3.connect(database_path_birds)
db_birds.close()
db_ebirds = sqlite3.connect(database_path_ebirds)
db_ebirds.close()

# Create the tables

### Tables for birds.db

```sql
CREATE TABLE birds (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        scientific_name VARCHAR NOT NULL,
        common_name VARCHAR NOT NULL,
        confidence FLOAT NOT NULL,
        sighting_time DATETIME NOT NULL,
        location_name VARCHAR,
        latitude FLOAT,
        longitude FLOAT
);
CREATE TABLE birds_now (
        id INTEGER NOT NULL,
        scientific_name VARCHAR NOT NULL,
        common_name VARCHAR NOT NULL,
        confidence FLOAT NOT NULL,
        sighting_time DATETIME NOT NULL,
        PRIMARY KEY (id)
);
CREATE TABLE wav_spectrogram (
        id INTEGER NOT NULL,
        frequencies JSON NOT NULL,
        times JSON NOT NULL,
        spectrogram JSON NOT NULL,
        PRIMARY KEY (id)
);
CREATE TABLE config (
    id INTEGER NOT NULL PRIMARY KEY,
    key TEXT NOT NULL,
    value TEXT NOT NULL
);
```

In [12]:
def execute_sql(database_path, sql_string):
    try:
        db = sqlite3.connect(database_path)
        db.execute(sql_string)
        db.commit()
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        db.close()

execute_sql(database_path_birds, "CREATE TABLE birds (id INTEGER PRIMARY KEY AUTOINCREMENT, scientific_name TEXT, common_name TEXT, confidence REAL, sighting_time TEXT, location_name TEXT, latitude REAL, longitude REAL)")
execute_sql(database_path_birds, "CREATE TABLE birds_now (id INTEGER PRIMARY KEY AUTOINCREMENT, scientific_name TEXT, common_name TEXT, confidence REAL, sighting_time TEXT)")
execute_sql(database_path_birds, "CREATE TABLE wav_spectrogram (id INTEGER PRIMARY KEY AUTOINCREMENT, frequencies JSON, times JSON, spectrogram JSON)")
execute_sql(database_path_birds, "CREATE TABLE config (id INTEGER PRIMARY KEY AUTOINCREMENT, key TEXT, value TEXT)")

An error occurred: table birds already exists
An error occurred: table birds_now already exists
An error occurred: table wav_spectrogram already exists
An error occurred: table config already exists

### Tables for ebirds.db

```sql
CREATE TABLE ebirds (
    id INTEGER NOT NULL,
    common_name TEXT NOT NULL,
    scientific_name TEXT NOT NULL,
    species_code TEXT,
    rarity REAL NOT NULL,
    image TEXT,
    PRIMARY KEY (id)
);
CREATE TABLE config (
    id INTEGER NOT NULL,
    state TEXT NOT NULL,
    subregion_code TEXT NOT NULL,
    latitude REAL NOT NULL,
    longitude REAL NOT NULL,
    compiled BOOLEAN NOT NULL,
        PRIMARY KEY (id)
);
```

In [10]:
execute_sql(database_path_ebirds, "CREATE TABLE ebirds (id INTEGER PRIMARY KEY AUTOINCREMENT, common_name TEXT, scientific_name TEXT, species_code TEXT, rarity REAL, image TEXT)")
execute_sql(database_path_ebirds, "CREATE TABLE config (id INTEGER PRIMARY KEY AUTOINCREMENT, state TEXT, subregion_code TEXT, latitude REAL, longitude REAL, compiled BOOLEAN)")

# Add default config values

### birds.db

```sql
INSERT INTO config (id, key, value) VALUES (0, 'confidence_threshold', '0.7');
INSERT INTO config (id, key, value) VALUES (1, 'history_days', '7');
INSERT INTO config (id, key, value) VALUES (2, 'max_frequency', '12000');
INSERT INTO config (id, key, value) VALUES (3, 'latitude', '________________');
INSERT INTO config (id, key, value) VALUES (4, 'longitude', '________________');
INSERT INTO config (id, key, value) VALUES (5, 'state', '________________');
INSERT INTO config (id, key, value) VALUES (6, 'subregion_code', '________________');
INSERT INTO config (id, key, value) VALUES (7, 'confidence_threshold_for_add_to_db', '0.5');
```

In [ ]:
execute_sql(database_path_birds, "INSERT INTO config (id, key, value) VALUES (0, 'confidence_threshold', '0.7');")
execute_sql(database_path_birds, "INSERT INTO config (id, key, value) VALUES (1, 'history_days', '7');")
execute_sql(database_path_birds, "INSERT INTO config (id, key, value) VALUES (2, 'max_frequency', '12000');")
execute_sql(database_path_birds, f"INSERT INTO config (id, key, value) VALUES (3, 'latitude', '{your_latitude}');")
execute_sql(database_path_birds, f"INSERT INTO config (id, key, value) VALUES (4, 'longitude', '{your_longitude}');")
execute_sql(database_path_birds, f"INSERT INTO config (id, key, value) VALUES (5, 'state', '{your_state}');")
execute_sql(database_path_birds, f"INSERT INTO config (id, key, value) VALUES (6, 'subregion_code', '{your_subregion_code}');")
execute_sql(database_path_birds, "INSERT INTO config (id, key, value) VALUES (7, 'confidence_threshold_for_add_to_db', '0.5');")

### ebirds.db

```sql
INSERT INTO config (id, state, subregion_code, latitude, longitude, compiled) VALUES (0, '_____', '_____', _____, _____, 0);
```

In [15]:
execute_sql(database_path_ebirds, f"INSERT INTO config (id, state, subregion_code, latitude, longitude, compiled) VALUES (0, '{your_state}', '{your_subregion_code}', {your_latitude}, {your_longitude}, 0);")