### Change link to the database file

In [1]:
import sqlite3
import pandas as pd

database_path = "example_birds.db"

### Connect to the database
A *.db file is a SQLite database file and has multiple tables inside the database.

In [2]:
db = sqlite3.connect(database_path)

# Get the table names
cursor = db.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_names = cursor.fetchall()
print(table_names)
# [('alembic_version',), ('birds',), ('birds_now',), ('wav_spectrogram',)]

[('alembic_version',), ('birds',), ('birds_now',), ('wav_spectrogram',)]

'alembic_version' can be ignored, this is just for the migration history of the database

'birds' is the table that contains the bird observations over the entire history of the database

'birds_now' is just the findings in the last recording chunk

'wav_spectrogram' is the spectrogram of the last recording chunk

### Create a pandas dataframe from the 'birds' table

In [3]:
SQL_query = "SELECT * FROM birds"
birds_df = pd.read_sql_query(SQL_query, db)
birds_df.head()

,id,scientific_name,common_name,confidence,sighting_time,location_name,latitude,longitude
0,1,Poecile atricapillus,Black-capped Chickadee,0.394002,2025-02-02 13:00:12.000000,Backyard_1,45.080681,-92.898758
1,2,Dryobates pubescens,Downy Woodpecker,0.190210,2025-02-02 13:00:12.000000,Backyard_1,45.080681,-92.898758
2,3,Poecile atricapillus,Black-capped Chickadee,0.503512,2025-02-02 13:00:12.000000,Backyard_1,45.080681,-92.898758
3,4,Poecile atricapillus,Black-capped Chickadee,0.152954,2025-02-02 13:00:12.000000,Backyard_1,45.080681,-92.898758
4,5,Poecile atricapillus,Black-capped Chickadee,0.394002,2025-02-02 13:00:12.000000,Backyard_1,45.080681,-92.898758